<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<form action="/users" method="post">
    <input type="email" name="email" placeholder="please input email"><br>
    <input type="password" name="password" placeholder="please input password"><br>
    <select name="role">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">User</option>
    </select><br>
    <input type="submit" value="REGISTER">
</form>
</body>
</html>